* {
  margin: 0px;
  font-family: sans-serif;
  overflow: hidden;
}

body {
  background-color: #231616;
}

.isi {
  display: grid;
  grid-template-columns: 45% 55%;
}

/* kiri */

.kiri {
  height: 100vh;
  width: 100%;
}

.sapa {
  position: absolute;
  top: 420px;
  left: 50px;
  color: aliceblue;
  line-height: 35px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bagmer {
  padding: 20px 0px 0px 25px;
}

.bagmer img {
  width: 100%;
  height: 550px;
  border-radius: 20px;
}

/* kanan */
.kanan {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  color: aliceblue;
  padding-left: 20px;
}

.login {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.email,
.password {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
}
input {
  color: aliceblue;
  background-color: #231616;
  width: 400px;
  padding-left: 10px;

  height: 45px;
  border: 1.5px solid #e50914;
  border-radius: 10px;
}

label {
  color: rgb(255, 255, 255);
  padding-left: 10px;
  line-height: 2;
}

button {
  margin-top: 25px;
  text-align: center;
  width: 420px;
  height: 45px;
  border-radius: 10px;
  background-color: #e50914;
  color: aliceblue;
  border: 2px solid #e50914;
}

button:hover {
  font-weight: bold;
  background-color: #b20710;
  border: 2px solid #b20710;
}

input:hover {
  border: 1.5px solid #ffffff;
}

/* Responsive HP */
@media screen and (max-width: 768px) {
  .isi {
    display: flex;
  }
  .kiri {
    display: none;
  }

  .kanan {
    max-width: 430px;
    justify-content: center;
    margin: auto;
  }

  form {
    display: flex;
    display: block;
    padding: 0%;
  }
  .inputemailpassword {
    display: flex;
    flex-direction: column;
    padding-left: 13%;
  }
  input {
    background-color: #231616;
    max-width: 80%;
  }
  button {
    max-width: 84%;
  }
}
